<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher AI</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="door">
        <h1 class="door-title">Teacher AI</h1>

        <button class="door-btn" onclick="enterDoor()">BEGIN</button>

        <p id="display"></p>
    </div>

    <div id="transition"></div>
    <img id="room-image" src="{{ url_for('static', filename='sprites/whiteboard.png') }}" alt="whiteboad" style="display: none; position: absolute; top: 0; left: 17%; width: 65%; height: 65%; image-rendering: pixelated; z-index: 1;">
    

<textarea
  id="whiteboard-text"
  placeholder="Write here..."
  style="
    display: none;
    position: absolute;
    top: 10%;
    left: 22%;
    width: 55%;
    height: 45%;
    z-index: 2;

    background: transparent;
    border: none;
    resize: none;
    outline: none;

    font-family: 'Press Start 2P', monospace;
    font-size: 12px;
    line-height: 1.6;
    color: #1b1b1b;
  "
></textarea>
    <script src="{{ url_for('static', filename='script.js') }}"></script>   

</body>
</html>
